<!-- templates/base.html -->
 
    {% load static %}
    <!DOCTYPE html>
    <html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <title>Place Remember</title>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
        {% load mapbox_location_field_tags %} 
        {% location_field_includes %}
        {% include_jquery %}
    </head>
    
    <body style="background-color:silver">
        <div class="container" style="height:100%;width:inherit; display: flex;flex-flow: column;">
            <div class="header" style="flex:0 1 auto">
                <div id="branding">
                    <h1 id="site-name">
                        <a href="/"> Place Remember</a>
                    </h1>
                </div>
                <div class = "user-tool">
                {% block content1 %}
                {% endblock %}
                </div>   
            </div>
            
                    {%block map%}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
            </div>
    </body>
    </html>